<div class = "modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 class="modal-title">my book</h4>
</div>
<div class="modal-body">
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>ppk谈javascript</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <span>阅读程度：</span><span>读了两遍，不深入，作为js入门的过度书籍</span>
                <p>
                    看的第一本前端，javascript相关书籍，作为js的入门学习，现在看来，虽然作者对兼容性很有研究，但是书籍内容太老，
                    跟不上现在的发展节奏，推荐指数不高。当然其中的很多思想还是很有价值的。

                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>javascript高级程序设计</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <span>阅读程度：</span><span>通览了一遍，核心部分看了不下十几遍</span>
                <p>
                    我看的第二本javascript书籍，通览了一遍，核心部分看了不下十几遍，比如数据类型，面向对象相关，作用域，闭包，ajax等。
                    部分内容使用到的时候看了多遍。
                    javascript入门到进阶必看书籍，我始终没有看权威指南，
                    对于javascript基础看这本书加上一些博客文章和ECMA标准已经够我消化了。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <span>阅读程度：</span><span>深入读过两遍</span>
                <p>
                    我看过的nodejs最好的书籍，国内nodejs布道者朴灵大神的力作，参加js大会时还有幸和朴灵大神合过影，
                    深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>nodejs实战</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <span>阅读程度：</span><span>只看了前几章</span>
                <p>
                    作为node实践的良好教程，虽然只看了前几章，但是受益还是很大的，如果node和web开发基础够扎实，
                    阅读起来很舒服。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer"></div>