<div class = "modal-header">
    <button type="button" class="close" data-dismiss="modal"></button>
    <h4 class="modal-title">my book</h4>
</div>
<div class="modal-body">
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
    <div class="book">
        <div class="bookImg">
            <img src="/public/image/node.jpg"/>
        </div>
        <div class="bookDescribe">
            <div class="bookHeader">
                <span>深入浅出nodejs</span><span class="">推荐指数：</span>
            </div>
            <div class="bookDescribe">
                <p>
                    国内nodejs布道者扑灵大神的力作，深入学习node必看书籍。
                </p>
            </div>
        </div>

    </div>
</div>
<div class="modal-footer"></div>