* {
    margin:0;
    padding:0;
}
html,body{
    font-size: 20px;
    width:100%;
    color:#000;
    background: linear-gradient(-45deg,#dca7a7,#b2dba1);
}
h3 {
    font-size: 28px;
}
h4 {
    font-weight: bold;
    text-align: center;
}
header{
    text-align: center;
}
.container.main {
    border:2px double black;
    padding:80px;
    background-color: lavenderblush;
}
.container.main{
    background: linear-gradient(#e7c3c3,#fff);
}
p,dd{
    text-indent: 40px;
}
dl,dd{
    margin-bottom:20px;
}
dd{
    border-bottom: 1px dashed #808080;
}
ul li{
    list-style: none;
}
.myHeadImage{

}
canvas{

}
hr{
    border-top: 2px solid;
}
#basicInfo {
    font-weight:bold;
}


#teachingInfo{
    font-weight:bold;
}