<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class = "ie6"> <![endif]-->
<!--[if IE 7 ]> <html class = "ie7"> <![endif]-->
<!--[if IE 8 ]> <html class = "ie8"> <![endif]-->
<!--[if IE 9 ]> <html class = "ie9"> <![endif]-->
<!--[if (gt IE 9) | !IE ]><!--> <html lang = "en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> 我的简历 </title>
    <meta name="description" content="我的简历">
    <style type="text/css">
        /* 小主，要了臣妾吧!!!

        */
    </style>


    <link href="/public/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css" type="text/css" rel = "stylesheet"/>
    <link href="/public/css/bookStyle.css" type="text/css" rel = "stylesheet"/>
    <link href="/public/css/base.css" type="text/css" rel = "stylesheet"/>
</head>
</body>
<!--[if lt IE 7]>
<p class="chromeframe">你的浏览器太老了，
    <a href="">换一个浏览器</a>或者<a href="">安装 Google Chrome Frame</a>
</p>
<![endif]-->
<div id="normal">
    <header>
        <h1>我的简历</h1>
    </header>
        <div class="container main">
                <div class="">
                    <h3>基本信息</h3>
                    <div class="row" id = "basicInfo">
                        <div class="col-lg-8">
                            <p class="">姓名：许会元 &nbsp;男 | 25岁 （1989年3月6日） </p>
                            <p>电      话：15958198067</p>
                            <p>E-mail：695540791@qq.com</p>
                            <p>毕业时间：2015年4月</p>
                            <p>籍   贯：辽宁省 - 抚顺 </p>
                            <p>应聘职位：前端开发工程师</p>
                            <p>未来职业目标：全端全栈架构师</p>
                            <p>个人主页： <a href="http://www.shadowvip.com/blog" target="_blank">http://www.shadowvip.com/blog</a></p>
                            <p>github地址：<a href="https://github.com/nanjixiong218" target="_blank">https://github.com/nanjixiong218</a></p>
                            <p>近一年读的书：<a data-target="#mybook" data-toggle="modal"  href="/static/mybook.html">书籍列表</a></p>

                        </div>
                        <div class="col-lg-4 myHeadImage">
                            <img src="/public/image/myhead.png"/>
                        </div>
                    </div>
                    <div class="row" id="teachingInfo">
                        <div class="col-lg-12">

                        <h3>教育情况</h3>

                        <p>2008-09--2012-06 &nbsp;&nbsp;&nbsp;&nbsp;
                            济南大学 &nbsp;&nbsp;&nbsp;&nbsp; 计算机科学与技术
                            &nbsp;&nbsp;&nbsp;&nbsp; 学士
                        </p>
                        <p>2012-09--2015-04 &nbsp;&nbsp;&nbsp;&nbsp;
                            浙江理工 &nbsp;&nbsp;&nbsp;&nbsp; 计算机科学与技术
                            &nbsp;&nbsp;&nbsp;&nbsp; 硕士 &nbsp;&nbsp;&nbsp;&nbsp;
                            实验室：企业智能实验室
                        </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" id="techInfo">
                        <h3>专业技能</h3>
                        <div class="col-lg-12">

                        <dl>
                            <dt>英语</dt>
                            <dd>
                                CET6 459分。
                            </dd>
                            <dt>编程语言</dt>
                            <dd>
                                最熟悉javascript，其次java。虽然本科学过c，c++,c#，但是基本忘了。学习正则的时候又学了点Perl。
                            </dd>
                            <dt>前端技术</dt>
                            <dd>
                                初入前端不久，但兴趣浓厚。不会切图，只做过一些图片的大小调整，因为接触时间不多，所以特效写的也不多，
                                兼容性经验不够。这是缺点。
                                不过我也不认为前端工程师就是切切图，调调页面加上偶尔写写特效。
                                我的优势是
                                对html，css，javascript基础比较扎实，有一定框架使用经验，对jquery，bootstrap，seajs等框架比较熟悉，
                                做过单页面应用。了解Angular,backbone,knockout,avolon等前端MV*框架，自己写过jquery,bootstrap插件，
                                会用grunt进行前端项目构建。看过部分jquery，boostrap源码，研究过promise/deferred相关异步操作实现。
                                喜欢html5技术，尤其是canvas相关。最重要的是对前端有兴趣，充满热情，关注前端前沿技术。
                            </dd>
                            <dt>后端技术</dt>
                            <dd>
                                熟悉nodejs，熟练使用express框架和常用模块。自己看《深入浅出nodejs》,按照里面的思路
                                实现过简单的mvc框架，看过nodeclub源码，在其基础上搭建过社区平台，我的个人网站也是基于nodejs写的。
                                写过一个批量文件重命名的node模块，发布到npm上，作为练习。
                            </dd>
                            <dd>
                                熟悉j2ee相关知识，实习的时候用的struts1，其它用的都是公司内部封装的框架。
                                自己看过点sturts2,hibernate,spring。但是没有项目经验，理解不深刻。
                            </dd>

                            <dt>数据库相关</dt>
                            <dd>
                                最熟悉DB2的pl/sql编程和db2相关操作，但是好久没看了，最近一年在关注前端。
                                其次对mongodb的操作比较熟悉，也用过oracle，本科学习过sqlserver2000。
                            </dd>

                            <dt>操作系统</dt>
                            <dd>
                                熟悉linux常用命令，我有一台阿里云服务器，个人网站正在建设中。服务器用的ubuntu系统，
                                所以一般性的linux操作应该没问题，在linux搭建过ftp，svn服务器，有一次接到个任务，
                                还部署过apache和tomcat的反向代理负载均衡（按照网上教程，我不太理解那些配置的含义）。
                                熟悉vi操作，因为即便在window下，不用IDE的时候，
                                我也是用vim作为文本编辑器。
                            </dd>
                            <dt>设计模式与算法</dt>
                            <dd>
                                短时间看过一些java和js的设计模式讲解和实现，理解不够透彻，对部分模式理解尚可，
                                比如单例，mvc，工厂，观察者，迭代器，适配器。
                            </dd>
                            <dd>
                                不擅长算法，可能是因为数学不够好，因此缺乏兴趣，一些简单的查找排序尚可，复杂些的分析算法性能就搞不定了。
                                一些OJ系统上断断续续写过近百道题目，我发现现在的大部分Oj都不支持javascript，
                                所以我有一个目标是写一个只支持javascript的Oj系统，有一段时间我在github上找到了一个源码，
                                可惜是Python写的，一直没有时间去研究。
                                数据结构方面，涉及到树和图的部分都没有太多经验。
                                不过因为研究生论文要求，接下来必须要花时间在算法上专研一下。
                            </dd>
                            <dt>其它</dt>
                            <dd>
                                其它相关知识就只是学校课程，加上考研学的东西，朦朦胧胧，缺乏实践经验，
                                比如组成原理，体系结构，网络，操作系统等等。
                            </dd>
                         </dl>
                    </div>
                    </div>
                    <div class="row">
                        <h3>项目经验</h3>
                        <div class="col-lg-12" id="project">

                        <dl>
                            <dt>实习项目</dt>
                            <dd>
                                我的研究生阶段所在实验室并不是做科研类工作，而是实习性工作，
                                所以可以说从研一就已经开始了实习期，目前已经有两年实习经验。
                            </dd>
                            <dd>
                                在杭州州力数据科技有限公司实习，参与过烟草行业营销系统，经济运行系统，
                                物流系统，客户关系系统的开发。
                            </dd>
                        </dl>
                        <dl>
                            <dt>个人项目</dt>
                            <dd>
                                <h4>my 2048</h4>
                                一个用jquery，bootstrap，seajs做的单页面多功能化2048游戏应用，
                                后端测试着用了一下自己的frameXu框架。项目托管在csdn code上，
                                因为要参加一个开源应用比赛在csdn code的悬赏平台上，可惜比赛让人很失望，
                                魔泊网诚信很有问题。
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/my2048">https://github.com/nanjixiong218/my2048</a></li>
                                    <li> 项目演示地址：<a href="http://my2048.sturgeon.mopaas.com/">http://my2048.sturgeon.mopaas.com/</a></li>
                                </ul>
                            </dd>
                            <dd>
                                <h4>实验室系统</h4>
                                基于nodeclub源码，进行一定的修改扩展写的一个实验室网站。
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/myLab">https://github.com/nanjixiong218/myLab</a></li>
                                    <li> 项目演示地址：<a href="http://www.shadowvip.com:3001/">http://www.shadowvip.com:3001/</a></li>
                                </ul>
                            </dd>
                            <dd>
                                <h4>frameXu</h4>
                                学习nodejs写的一个简单的mvc框架，基本按照朴灵大神的书中实现。
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/tempXu">https://github.com/nanjixiong218/tempXu</a></li>
                                </ul>
                            </dd>
                            <dd>
                                <h4>给父母的节日礼物</h4>
                                分别在母亲节和父亲节的时候，我都给爸爸妈妈写了两个页面挂在我自己的服务器上，
                                作为送给父亲母亲的礼物。页面不是很难，而且用了一些插件，我的审美和设计能力也不是很强。
                                关键是父母很感动，让我也感觉自己没有白学一项技能,学以致用，也体现了我一向以用为本的思想。
                                这里面给父亲的页面中整个都是基于一个bootstrap的win8磁条插件，
                                这个插件是我在看《深入理解bootstrap》学习bootstrap的时候完全手写的。
                                <ul>
                                    <li>项目演示地址：<a href="http://www.shadowvip.com/static/fatherDay.html">http://www.shadowvip.com/static/fatherDay.html</a></li>
                                    <li>项目演示地址：<a href="http://www.shadowvip.com/static/motherDay.html">http://www.shadowvip.com/static/motherDay.html</a></li>
                                </ul>
                            </dd>

                            <dd>
                                <h4>一个canvas实现的时钟</h4>
                                出于学习的目的，写了一个简单时钟绘图，用到了canvas很多很基础aip
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/canvas-Test/tree/master/myCanvasClock">https://github.com/nanjixiong218/canvas-Test/tree/master/myCanvasClock</a></li>
                                    <li>项目演示地址：<a href="http://www.shadowvip.com/static/clock.html">http://www.shadowvip.com/static/clock.html</a></li>
                                </ul>
                            </dd>
                            <dd>
                                <h4>canvas画图</h4>
                                为了学习canvas，用原生js加上canvas实现的一个简单画图程序
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/canvas-Test/tree/master/mycanvasDrawing">https://github.com/nanjixiong218/canvas-Test/tree/master/mycanvasDrawing</a></li>
                                    <li> 项目演示地址：<a href="http://www.shadowvip.com/static/painting.html">http://www.shadowvip.com/static/painting.html</a></li>
                                </ul>
                            </dd>
                            <dd>
                                <h4>一个实现图片碎裂重组的jquery插件</h4>
                                我要实现的是任意dom模块应用我的插件后都能够碎裂重组，
                                目前简单的实现了指定某个空div，传入一个image作为背景图片，模拟图片的分散碎裂重组，
                                以及把某个已有的div点击后碎裂重组，后一个借助了html2canvas来实现。
                                缺乏测试，不是很成熟。
                                <ul>
                                    <li>项目代码地址：<a href="https://github.com/nanjixiong218/despersionBaseedOnJquery">https://github.com/nanjixiong218/despersionBaseedOnJquery</a></li>
                                    <li>项目演示地址：<a href="http://www.shadowvip.com/static/despersion.html">http://www.shadowvip.com/static/despersion.html</a></li>
                                </ul>
                            </dd>

                                <dd>
                                    <h4>少有的java项目，给女朋友的写的一个处理平时工作的软件</h4>
                                    一个简单的javaGUI程序，用于从很多网页中抓取特定文本内容，并按一定格式存入到excel中。
                                    这个程序写的不是很好，却让我很有感情。
                                    <ul>
                                        <li>项目代码地址：<a href="https://github.com/nanjixiong218/forMy-girlfriend">https://github.com/nanjixiong218/forMy-girlfriend</a></li>
                                    </ul>
                                </dd>

                                <dd>
                                    <h4>一个简单的时钟提醒</h4>
                                    这个程序很简单，因为自己那段时间眼睛不好，
                                    为了遵医嘱防止用眼疲劳快速完成了一个控制台小程序。
                                    <ul>
                                        <li>项目代码地址：<a href="https://github.com/nanjixiong218/littileUtilForMyself">https://github.com/nanjixiong218/littileUtilForMyself</a></li>
                                    </ul>
                                </dd>
                                <dd>
                                    其它的一些学习阶段的小测试就不说了，
                                    因为最近几个月才开始仔细研究github，关注开源，以前就是把自己的项目随便的放上去，作为一个版本控制来用
                                    胡乱的fork别人的项目，所以github不那么好看，只为node_club贡献过一次代码。
                                    目前在加深github的学习，管理，我准备找一些感兴趣的开源项目贡献代码。
                                </dd>
                        </dl>
                    </div>
                    </div>
					<div class="row">
                        <h3>未来学习计划 </h3>
                        <div class="col-lg-12">
                            <ol>
                                <li>巩固已有知识，温故知新很重要。</li>
                                <li>html5相关开发，侧重移动端开发，学习一下hybrid技术，还有个native.js的解决方案。</li>
                                <li>webComponent。</li>
                                <li>对游戏开始感兴趣，学习Pomelo。</li>
                                <li>深入学习一些框架的使用，并阅读源码。初步定为jquery，bootstrap，angular，seajs,understore。</li>
                                <li>坚持学习nodejs各项技术，node-webkit很有趣。</li>
                                <li>学习大数据的相关技术，比如hadoop，spark。恐怕不会深入学习。</li>
                                <li>在社区，博客，论坛，github上活跃起来，个人网站上会不断发表博客，总结经验。</li>
                            </ol>
                            <h4>行业走向预测</h4>
                            <p>
                                虽然我目前眼界还不够，信息量也很欠缺，但还是喜欢思考一下行业发展方向，技术走向。
                                就全当幻想吧。我认为未来的信息化技术最重要的是大数据，移动互联，人工智能，虚拟现实，可穿戴设备。
                                然后随着这几项技术的发展，手机恐怕会被可穿戴智能设备淘汰。再向后发展，信息技术会与生物，
                                物理结合形成生物科技时代。即便以我匮乏的想象力，这也不难想象，当可穿戴设备足够智能，足够小，又能够
                                无伤，安全的装入人体，甚至和人体各项器官交互的时候，人类必然进入生物科技时代。
                                oculus的出现让我很兴奋，是出于一个游戏玩家的角度。但是从技术的角度，虚拟现实对未来的影响将是不可估量的，
                                一旦虚拟现实和生物科技同时发展起来，黑客帝国中的剧情没准真的会出现！
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <h3>个人总结：</h3>
                        <div class="col-lg-12">

                            <p>
                             充满热情，活力，兴趣爱好广泛，喜欢思考，善于积累，对计算机行业，尤其是前端领域感兴趣。
                             深刻的领悟到了这样一种<a href="http://www.shadowvip.com/static/timeLine.html" target="_blank">理论</a>：
                             知识的学习就是一个圆圈，圆圈的内部是白色的，是你已知的东西，圆圈的外围是一片黑暗，是未知的东西
                             ，当你已知的东西越来越多，圆圈变得越庞大，你才会发现，圆圈接触的未知的领域是多么巨大。
                             目前状态：发现自己的起点太晚，基础不够牢靠，时间严重不够用。
                             我希望能够找到一个好的团队，融入进去做一番事业，更希望能有一个前辈牛人给予一定的指点，帮助。
                            </p>
                         </div>
                    </div>
                </div>
        </div>


    <div class = "modal fade" id="mybook">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <footer>

    </footer>
</div>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 这个CDN好慢-->
    <script>
        window.jquery||document.write('<script src="/public/lib/jquery.1.11.1.js"><\/script>');
    </script>
    <script src="/public/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="/public/js/canvas.js"></script>
    </body>
</html>
