<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class = "ie6"> <![endif]-->
<!--[if IE 7 ]> <html class = "ie7"> <![endif]-->
<!--[if IE 8 ]> <html class = "ie8"> <![endif]-->
<!--[if IE 9 ]> <html class = "ie9"> <![endif]-->
<!--[if (gt IE 9) | !IE ]><!--> <html lang = "en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> 我的简历 </title>
    <meta name="description" content="我的简历">
    <style type="text/css">
        /* 小主，要了臣妾吧!!!

                                           `:::::::::::,
                                       `::;:::::::;:::::::,  `
                                    `::;;:::::::@@@@;:::::::`
                                  ,:::::::::::::@    #@':::::`
                                :::::::::::::::'@@      @;::::
                              ::::::::::::'@@@@'```      .+:::`
                            ::::::::::;@@@#.              ,:::,
                          .::::::::+@#@`                   ::::
                         :::::::+@@'                       ::::
                       `:::::'@@:                         `:::.
                      ,::::@@:  `                         ::::
                     ;::::::@                            .:::;
                    :;:::::;@`        `                  :::;
                   :::::::::@`        @                 ;::::
                  :::::::::#`          @`              ,::::
                 :::::::::@`         +@ @             .::::`
                .::::::'@@`       `@@'  @             ::::,
                :::::::++@@@@@@@@@@.                 ::::;
               ;:::::::+,   `..`                    :::::
              ,::::::::',                          :::::
              :::::::::+,                         :::::`
             :::::::::+@.                        ,::::.`                     `,
             ::::::;;@+                         .::;::                     `;
            :::::::@@                          `:::;:                   `::``
            ::::::#@                           ;::::                  .::`
            :::::;@                           :::::`               .;::`
            :::::@                           `:;:::            `::::;
            :::::#                           :::::.        `,;:::::
            ::::::                    `      ::::::,.,::::::::::.
            ,::::::`              .::        ::::::::::::::::;`
             ;::::::::,````.,:::::,          ::::::::::::::.
              :::::::::::::::::: `           `::::::::::`
               `::::::::::::,                  .:::.
                   `..`

        */
    </style>
    <link href="/public/css/base.css" type="text/css" rel = "stylesheet"/>
    <link href="/public/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css" type="text/css" rel = "stylesheet"/>
</head>
</body>
<!--[if lt IE 7]>
<p class="chromeframe">你的浏览器太老了，
    <a href="">换一个浏览器</a>或者<a href="">安装 Google Chrome Frame</a>
</p>
<![endif]-->
    <header>
        <h1>我的简历</h1>
    </header>
    <div role = "main" id = "main" class = "">
        <div class="container">
            <div class="">
                <div class="">
                    <div class="row">
                        <strong>姓名：许会元</strong>
                    </div>
                    <div class="row">
                        <p><strong class="ft-c1"> 男 | 25岁
                            （
                            1989
                            年
                            3
                            月）</strong></p>
                        <p class="">证件类型：身份证 &nbsp; 证件号码：210422198903060019</p>
                        <p>电      话：15958198067（手机）</p>
                        <p>E-mail：695540791@qq.com</p>
                        <p>毕业时间：
                            2015
                            年
                            4
                            月

                        </p>
                        <p>籍   贯：辽宁省 - 抚顺 &nbsp; 期望工作地：杭州 &nbsp; 居住地：浙江省 - 杭州</p>
                    </div>

                    <div class="row">
                        <p class="">
                            <strong class="">教育情况</strong>
                        </p>
                        <p class=""><strong>2012-9--2015-4 &nbsp;&nbsp;&nbsp;&nbsp;
                            浙江理工 &nbsp;&nbsp;&nbsp;&nbsp; 计算机科学与技术
                            &nbsp;&nbsp;&nbsp;&nbsp; 硕士 &nbsp;&nbsp;&nbsp;&nbsp; 中等</strong>
                        </p>
                        <p>实验室：企业智能实验室 &nbsp;&nbsp;   研究方向：  </p>
                    </div>
                    <div class="row">
                        <h2>专业技能</h2>
                        <dl>
                            <dt>语言</dt>
                            <dd>
                                最熟悉javascript，其次java，再次c。c++,c#只是本科学过，学习正则的时候又学了点Perl。
                            </dd>
                            <dt>后台</dt>
                            <dd>
                                熟悉j2ee相关知识，实习的时候用的struts1，其它用的都是公司内部封装的框架。
                                自己看过点sturts2,hibernate,spring。但是没有项目经验，理解不深刻。
                            </dd>
                            <dd>
                                相对j2ee更熟悉nodejs，熟练使用express框架和常用模块。自己编写过简单的类express的mvc框架，
                                看过nodeclub源码，在其基础上搭建过社区平台。
                            </dd>
                            <dt>数据库</dt>
                            <dd>
                                最熟悉DB2的pl/sql编程和相关操作。其次对mongodb的操作比较熟悉，也用过oracle，本科学习过sqlserver2000。
                            </dd>
                            <dt>前端</dt>
                            <dd>
                                不会切图，只做过一些图片的大小调整。我也不认为前端工程师必须会切图。
                                对html，css，javascript基础比较扎实，使用jquery，bootstrap，seajs做过单页面应用。
                                了解Angular,backbone,knockout,avolon等前端MV*框架，自己写过jquery,bootstrap插件，
                                会用grunt进行前端项目构建。看过部分jquery，boostrap源码。研究过promise/A标准相关异步操作实现，
                                并写过简单实现。
                            </dd>
                            <dt>设计模式与算法</dt>
                            <dd>短时间看过一些java和js的设计模式讲解和实现，理解不够透彻，对部分模式理解尚可，
                                比如单例，mvc，工厂，观察者。
                            </dd>
                            <dd>
                                不擅长算法，可能是因为数学不够好，因此缺乏兴趣，一些简单的查找排序尚可，复杂些的分析算法性能就搞不定了。
                                一些OJ系统上断断续续写过近百道题目
                                数据结构方面，涉及到树和图的部分都没有太多经验。
                                不过因为研究生论文要求，接下来必须要花时间在算法上专研一下。
                            </dd>
                         </dl>
                    </div>
                    <div class="row">
                        <p class="">
                            <strong class="">实践活动</strong>
                        </p>

                        <p class="">有无实习或实践经验：√有互联网行业实践经验&nbsp;</p>
                        <p>
                            <span style="font-weight: bold;">相关经验描述：</span><br>
                            在杭州州力数据科技有限公司实习，参与过烟草行业营销系统，经济运行系统，
                            物流系统，客户关系系统的开发。
                        </p>
                    </div>
                    <div class="bor-b-x ">
                        <p class="">
                            <strong class="ft-c1">开放式问题</strong>
                        </p>
                        <p>
			<span style="font-weight: bold;">
				1、请介绍一项你最热爱、最擅长的专业领域，并且介绍你在这个领域的学习经历和未来的学习规划。</span>
                        </p>
                        <p style="text-indent: 32px;">
			<span>   
				我比较热爱的是javascript语言，研一下学期开始正式接触javascript，
				并且纠正我之前对它的误解——一门只能做做网页特效的脚本语言。
				后来知道了javascript的核心ecmascript，javascript无非只是其在浏览器宿主中的实现，
				用于操作dom和bom的一种ecma实现。接着阅读了ppk谈javascript和javascript高级程序设计3l，
				加深了对javascript的理解。后来又听说了nodejs的大名，目前正在自学node和mongodb,
				同时在看jquery源码。未来我会用nodejs，mongodb,seajs加上一些前端框架开发一个自己的个人网站，同时不断的深入学习javascript，希望向html5，移动web开发方向发展。  </span></p>                 <p><span style="font-weight: bold;">2、请介绍你参与的印象最深刻的一个项目，为什么？并且介绍你在项目中的角色和发挥的作用。</span></p><p style="text-indent: 32px;"><span> 浙江中烟物流扩展平台。这个项目我负责整个项目的核心底层切换，调整，并开发物流费用模块。
				原有系统是2007初步完成，然后在这几年不断的有改动。切换为我们公司最新的底层框架主要有
				三个难点：1、业务：行业类软件最重要的是业务，而我之前对物流业务了解很少，切换底层后会出现很多不能运行的功能，我需要调试修改再让其运行，对业务不了解是很大的难题。2、浏览器兼容性：2007年的项目，可想而知期浏览器兼容性的设计肯定很差，但是最新项目需要兼容到ie11，chrome，firefox，这是一大难题。3、原系统可维护性，可扩展性较差：这也是我体会最深的一点，在我不断的看着没有注释，没有文档的源代码，不断的因为同一个错误而不得不把近百个页面全部修改一遍之后，我深切的体会到了曾经在一些博客中看到的程序员深恶痛绝的几件事之一：接手几经转手的项目。同时也深深的体会到了写代码之前对代码的抽象，设计是多么重要，可维护性和可扩展性对项目后期的成本投资影响多么巨大。  </span></p>                 <p><span style="font-weight: bold;">3、你最期望在阿里巴巴实习的部门或项目是什么？请介绍下你对该部门的了解和希望实习的原因。 </span></p><p style="text-indent: 32px;"><span> 国际站前端事业部。我对该部门的了解是看到了他们发的一篇七天学会nodejs。因为我对javascript很感兴趣，同时也在自学nodejs和mongodb。希望成为一个前端工程师，我听过阿里的宣讲，发现在大公司职能分的很细，像是阿里的前端可以分为用户体验设计，视觉设计，交互设计，然后到前端开发。这正合我意，因为我偏重于实现而不是费脑筋想这个页面够不够漂亮（我审美能力可能比较差，因为我感觉穿着挺漂亮的衣服，朋友们都说很难看……），在我看来的设计是对代码的设计，如何让代码更具可读性，可维护性，可扩展性，如何模块化开发等等。我也为前端工程师绝不是很多人认为的没有技术含量的美工，天天切切图，弄些特效，前端开发有很多可研究领域，无数优秀的框架，很多设计模式值得学习。  </span></p> 		            </div>
                    <div class="bor-b-x">
                        <p class=""><strong class="">简历附件</strong></p>
                    </div>
                    <div class="bor-b-x">
                        <p class=""><strong class="">作品附件</strong></p>
                    </div>
                    <div class="bor-b-x">
                        <p class=""><strong class="">其他附件</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        window.jquery||document.write('<script src="/public/lib/jquery.1.11.1.js"><\/script>');
    </script>
    <script src="/public/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    </body>
</html>
