<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class = "ie6"> <![endif]-->
<!--[if IE 7 ]> <html class = "ie7"> <![endif]-->
<!--[if IE 8 ]> <html class = "ie8"> <![endif]-->
<!--[if IE 9 ]> <html class = "ie9"> <![endif]-->
<!--[if (gt IE 9) | !IE ]><!--> <html lang = "en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> 我的简历 </title>
    <meta name="description" content="我的简历">
    <style type="text/css">
        /* 小主，要了臣妾吧!!!

        */
    </style>


    <link href="/public/lib/bootstrap-3.1.1-dist/css/bootstrap.min.css" type="text/css" rel = "stylesheet"/>
    <link href="/public/css/bookStyle.css" type="text/css" rel = "stylesheet"/>
    <link href="/public/css/base.css" type="text/css" rel = "stylesheet"/>
</head>
</body>
<!--[if lt IE 7]>
<p class="chromeframe">你的浏览器太老了，
    <a href="">换一个浏览器</a>或者<a href="">安装 Google Chrome Frame</a>
</p>
<![endif]-->
<div id="normal">
    <header>
        <h1>我的简历</h1>
    </header>

        <div class="container main">
                <div class="">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>基础信息</h3>
                        </div>
                    </div>
                    <div class="row" id = "basicInfo">
                        <div class="col-lg-8">
                            <p class="">姓名：许会元</p>
                            <p> 男 | 25岁 （1989年3月6日） </p>
                            <p class="">证件类型：身份证 &nbsp; 证件号码：210422198903060019</p>
                            <p>电      话：15958198067（手机）</p>
                            <p>E-mail：695540791@qq.com</p>
                            <p>毕业时间：2015年4月</p>
                            <p>籍   贯：辽宁省 - 抚顺 &nbsp; 期望工作地：杭州 &nbsp; 居住地：浙江省 - 杭州</p>
                        </div>
                        <div class="col-lg-4 myHeadImage">
                            <img src="/public/image/myhead.png"/>
                        </div>
                    </div>
                    <div class="row" id="teachingInfo">
                        <div class="col-lg-12">

                        <h3>教育情况</h3>

                        <p>2008-09--2012-06 &nbsp;&nbsp;&nbsp;&nbsp;
                            济南大学 &nbsp;&nbsp;&nbsp;&nbsp; 计算机科学与技术
                            &nbsp;&nbsp;&nbsp;&nbsp; 学士
                        </p>
                        <p>2012-09--2015-04 &nbsp;&nbsp;&nbsp;&nbsp;
                            浙江理工 &nbsp;&nbsp;&nbsp;&nbsp; 计算机科学与技术
                            &nbsp;&nbsp;&nbsp;&nbsp; 硕士 &nbsp;&nbsp;&nbsp;&nbsp;
                            实验室：企业智能实验室
                        </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row" id="techInfo">
                        <div class="col-lg-12">
                        <h3>专业技能</h3>
                        <dl>
                            <dt>编程语言</dt>
                            <dd>
                                最熟悉javascript，其次java，再次c。c++,c#只是本科学过，学习正则的时候又学了点Perl。
                            </dd>
                            <dt>后技术</dt>
                            <dd>
                                熟悉j2ee相关知识，实习的时候用的struts1，其它用的都是公司内部封装的框架。
                                自己看过点sturts2,hibernate,spring。但是没有项目经验，理解不深刻。
                            </dd>
                            <dd>
                                相对j2ee更熟悉nodejs，熟练使用express框架和常用模块。自己编写过简单的类express的mvc框架，
                                看过nodeclub源码，在其基础上搭建过社区平台。
                            </dd>
                            <dt>数据库相关</dt>
                            <dd>
                                最熟悉DB2的pl/sql编程和相关操作。其次对mongodb的操作比较熟悉，也用过oracle，本科学习过sqlserver2000。
                                本来想接触一下hadoop相关的知识，可惜一直没有时间，只是初略的看了一下，我女朋友实验室有很好的条件
                                搭建hadoop，spark环境已经相关项目，我准备去稍微学习一下，并不会深入研究。
                            </dd>
                            <dt>前端技术</dt>
                            <dd>
                                不会切图，只做过一些图片的大小调整。我也不认为前端工程师就是切图，调页面加上偶尔写写特效。
                                对html，css，javascript基础比较扎实，使用jquery，bootstrap，seajs做过单页面应用。
                                喜欢html5技术，尤其是canvas相关。
                                了解Angular,backbone,knockout,avolon等前端MV*框架，自己写过jquery,bootstrap插件，
                                会用grunt进行前端项目构建。看过部分jquery，boostrap源码。研究过promise/A标准相关异步操作实现，
                                并写过简单实现。关注前端前沿技术。
                            </dd>
                            <dt>操作系统</dt>
                            <dd>
                                熟悉linux常用命令，我有一台阿里云服务器，个人网站正在建设中。服务器用的ubuntu系统，
                                所以一般性的linux操作应该没问题，在linux搭建过ftp，svn服务器，
                                还部署过apache和tomcat的反向代理负载均衡。熟悉vi操作，因为即便在window下，不用IDE的时候，
                                我也是用vim作为文本编辑器。
                            </dd>
                            <dt>设计模式与算法</dt>
                            <dd>短时间看过一些java和js的设计模式讲解和实现，理解不够透彻，对部分模式理解尚可，
                                比如单例，mvc，工厂，观察者，适配器。
                            </dd>
                            <dd>
                                不擅长算法，可能是因为数学不够好，因此缺乏兴趣，一些简单的查找排序尚可，复杂些的分析算法性能就搞不定了。
                                一些OJ系统上断断续续写过近百道题目，我发现现在的大部分Oj都不支持javascript，
                                所以我有一个目标是写一个只支持javascript的Oj系统，有一点时间我在github上找到了一个源码，
                                可惜是Python写的，一直没有时间去研究。
                                数据结构方面，涉及到树和图的部分都没有太多经验。
                                不过因为研究生论文要求，接下来必须要花时间在算法上专研一下。
                            </dd>
                            <dt>其它</dt>
                            <dd>
                                其它相关知识就只是学校课程，加上考研学的东西，朦朦胧胧，缺乏实践经验，
                                比如组成原理，体系结构，网络，操作系统等等。
                            </dd>
                         </dl>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="project">
                        <h3>项目经验</h3>

                        <dl>
                            <dt>实习项目</dt>
                            <dd>
                                我的研究生阶段所在实验室并不是做科研类工作，而是实习性工作，
                                所以可以说从研一就已经开始了实习期，目前已经有两年实习经验。
                            </dd>
                            <dd>
                                在杭州州力数据科技有限公司实习，参与过烟草行业营销系统，经济运行系统，
                                物流系统，客户关系系统的开发。
                            </dd>

                        </dl>
                        <dl>
                            <dt>个人项目</dt>
                                <dd>
                                    <h4>一个实现图片碎裂重组的jquery插件</h4>
                                    我要实现的是把任意dom模块应用我的插件后都能够碎裂重组，
                                    目前简单的实现了指定某个空div，传入一个image最为北京图片，模拟图片的发散碎裂重组，
                                    以及把某个已有的div点击后碎裂重组，后一个借助了html2canvas来实现。
                                    缺乏测试，很不成熟。
                                    <a href="">项目代码github地址</a>
                                </dd>
                                <dd>
                                    <h4>frameXu</h4>
                                    学习nodejs出于学习的目的写的一个简单的类似express的mvc框架
                                </dd>
                                <dd>
                                    <h4>my 2048</h4>
                                    一个用jquery，bootstrap，seajs做的单页面多功能化2048游戏应用，
                                    后端测试着用了一下自己的frameXu框架。项目托管在csdn code上，
                                    因为要参加一个开源应用比赛在csdn code的悬赏平台上，可惜比赛让人很失望，
                                    魔泊网诚信很有问题。
                                    <a href="">项目代码地址</a>
                                    <a href="">项目测试地址</a>
                                </dd>
                                <dd>
                                    <h4>canvas画图</h4>
                                    为了学习canvas用原生js加上canvas实现的一个简单画图程序
                                    <a href="">项目代码github地址</a>
                                </dd>
                                <dd>
                                    <h4>实验室系统</h4>
                                    基于nodeclub源码，进行一定的修改扩展写的一个实验室网站。
                                    <a href="">项目代码地址</a>
                                    <a href="">项目测试地址</a>
                                </dd>
                                <dd>
                                    <h4>给父母的节日礼物</h4>
                                    分别在母亲节和父亲节的时候，我都给爸爸妈妈写了两个页面挂在我自己的云服务器上，
                                    作为送给父亲母亲的礼物。页面不是很难，而且用了一些插件，我的审美和设计能力也不是很强。
                                    关键是父母很感动，让我也感觉自己没有白学一项技能，也体现了我一向以用为本的思想。
                                    这里面给父亲的页面中整个都是基于一个bootstrap的win8磁条插件，
                                    这个插件是我在看《深入理解bootstrap》学习bootstrap的时候完全手写的。
                                    <a href="">项目地址</a>
                                </dd>
                                <dd>
                                    <h4>少有的java项目，给女朋友的写的一个处理平时工作的软件</h4>
                                    一个简单的javaGUI程序，用于从很多网页中抓取特定文本内容，并按一定格式存入到excel中。
                                    这个程序写的不是很好，却让我很有感情。
                                    <a href="">项目代码github地址</a>
                                </dd>
                                <dd>
                                    <h4>一个简单的时钟提醒</h4>
                                    这个程序很简单，因为自己那段时间眼睛不好，
                                    为了遵医嘱防止用眼疲劳快速完成了一个控制台小程序。
									<a href="">项目代码github地址</a>
                                </dd>
                                <dd>
                                    其它的一些学习阶段的小测试就不说了，我的github地址为<a href=""></a>。
                                    因为最近几个月才开始仔细研究github，关注开源，以前就是把自己的项目随便的放上去，作为一个版本控制来用
                                    胡乱的fork别人的项目，所以github不那么好看。
                                    目前在加深github的学习，管理，准备找一些感兴趣的开源项目贡献代码。
                                    csdn code地址<a href=""></a>，这上面有两个项目，一个是我的个人网站项目，目前在搭建阶段，还是私有项目，
                                    不好意思拿出来看，还有一个就是为了参加比赛的2048项目。以后恐怕都会转到github上，对csdn还是有些失望。
                                </dd>
                        </dl>

                    </div>
                    </div>
					<div class="row">
                        <div class="col-lg-12">
				        	<h3>未来准备学习的技术 </h3>
                            <p>
                                首先要巩固已有知识，温故知新很重要。前端方面我想要主要想深入学习
                                html5相关开发，学习一下hybrid技术，转向移动web的方向，貌似还有个native.js的解决方案。
                                webComponent也很感兴趣，那种标签化制定很可能值未来的方向；
                                前端的分层和模块，还是专注于seajs，然后再angular，backbone，knoucout，embber,avolon中
                                选一个仔细学习下，目前暂定angular。后端java相关知识要系统的巩固下，nodejs也会坚持学下去，
                                会思考一下如何使用nodejs实现
                                一种较好的前后端分离模型。还会关注大数据方面的内容，我感觉未来很长的一段时间会是大数据和
                                移动互联的天下。
                            </p>
                            <p>
                                还有最重要的一点，是要开始在社区，博客，论坛，github上活跃起来，以前只是在不断的阅读，积累，
                                很少发表。玉伯的演讲对我影响很大，沟通交流很重要，input的最大价值是能够把他转换成output，
                                变成自己的东西，我的个人网站正在建设中，很多内容会分享上去。
                            </p>
                            <p>
                                虽然我目前眼界还不够，信息量也很欠缺，但是喜欢思考一下行业发展方向，技术走向。
                                就全当幻想吧。我认为未来的信息化技术最重要的是大数据，移动互联，人工智能，虚拟现实，可穿戴设备
                                这几块，然后随着这几项技术的发展，手机恐怕会被可穿戴智能设备淘汰。再向后发展，信息技术会与生物，
                                物理结合形成生物科技时代，即便以我匮乏的想象力，这也不难想象，当可穿戴设备足够智能，足够小，又能够
                                无伤，安全的装入人体，甚至和人体各项器官交互的时候，人类必然进入生物科技时代。
                                oculus的出现让我很兴奋，是出于一个游戏玩家的角度。但是从技术的角度，虚拟现实对未来的影响将是不可估量的，
                                一旦虚拟现实和生物科技同时发展起来，黑客帝国中的剧情没准真会的出现！
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h3>个人总结：</h3>
                         <p>
                             说实话，高中毕业选择专业之所以选择计算机是因为我喜欢电脑游戏，
                             所以真正学习计算机技术后，发现和我想的相去甚远。所以本科阶段对编程和计算机专业知识并不感兴趣，
                             是在游戏中度过的。真正对计算机感兴趣是差不多进入研二开始，也就是最近一年多的时间，
                             从我开始给女朋友的写的第一个java程序，到自学前端各项技术，对编程的兴趣逐渐的浓厚了起来。
                             研究生两年多的时间虽然在实习中主要用到j2ee和数据库技术，但是我却对前端技术更感兴趣。
                             因为实习的工作内容是被动的学习，而且不成体系化，一边学一边查找资料，一边用。
                             而前端知识是自学的，循序渐进，看了大量书籍，博客，有qq技术交流群，有兴趣，有动力。
                             所以目前虽然前端是在实习之余用业余时间自学的，我却认为比后端知识掌握的要好一些。
                             当然我个人认为之所以我对前端感兴趣还有两点原因：
                             1、进入基础不同：接触后端相关技术的时候，我几乎什么也不会，学习学起来很艰难，没有驱动力。
                             而自学前端的时候编程经验，行业渲染已经积累到了一定程度，学起来自然容易些，
                             兴趣和驱动力就更容易激发出来。
                             2、前端更接近视觉体验，尤其是canvas编程即相关游戏内容，看得到，摸得着。

                             主动学习，兴趣激励永远是最好的老师，这一年多的时间，自己从对前端一无所知，开始了自学之路，
                             对技术类书籍莫名的感兴趣，这是我这一年买来阅读和准备阅读的书籍：
                             <a data-target="#mybook" data-toggle="modal"  href="/static/mybook.html">书籍列表</a>，
                             然后开始逐渐关注论坛，社区，博客，文章，领域牛人，行业咨询，在接着开始接触开源，github，
                             参加js大会，参加编程赛事。
                             一点点的学习html，css,javascirpt,jquery,bootstrap,seajs,grunt，angular,框架设计……等等，
                             随着学习的东西越来越多，知道的东西越来越多，迸发出的想法也越来越多，想要急于去实现，这个时候
                             我突然间感觉到了自己的渺小，发现未知的，要学习的东西要更多。正好印证了之前看到的一种理论：
                             知识的学习就是一个圆圈，圆圈的内部是白色的，是你已知的东西，圆圈的外围是一片黑暗，是未知的东西
                             ，当你已知的东西越来越多，圆圈变得庞大，你才会发现，圆圈接触的未知的领域是多么巨大。
                             越是我的内心里产生了一种很急切的渴望，渴望获取更多的知识，
                             同时又产生了很大的焦虑，
                             发现自己的起点太晚，基础不够牢靠，时间严重不够用。所以现在处于一种比较迷茫的状态，
                             我希望能够找到一个好的团队，融入进去做一番事业，更希望能有一个前辈牛人给予一定的指点，帮助。


                             我的技术目标：全栈全端架构师
                             目前应聘岗位：前端工程师+nodejs工程师

                         </p>
                         </div>
                    </div>
                </div>
        </div>


    <div class = "modal fade" id="mybook">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

    <footer>

    </footer>
</div>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 这个CDN好慢-->
    <script>
        window.jquery||document.write('<script src="/public/lib/jquery.1.11.1.js"><\/script>');
    </script>
    <script src="/public/lib/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="/public/js/canvas.js"></script>
    </body>
</html>
